# --- Python ---
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# --- Données et Vidéos (Trop lourds pour GitHub) ---
dataset_pose/
testing_videos/
anomalies_sauvegardees/
*.mp4
*.avi
*.mov
models/*.txt
models/*.png

# --- Modèles et Poids (Fichiers binaires) ---
*.keras
*.h5
*.pt
*.npy

# --- Logs et divers ---
*.log
.DS_Store