# --- Python ---
__pycache__/
*.pyc
.env
venv/
.ipynb_checkpoints/

# --- Dataset: keep only npy files ---
dataset_pose/*         # ignore tout
!dataset_pose/*.npy    # sauf les npy à la racine
!dataset_pose/normal/*.npy   # sauf npy dans normal
!dataset_pose/anomalie/*.npy # sauf npy dans anomalie

# --- Models: keep only model.keras and JSON ---
models/*
!models/model.keras
!models/*.json

# --- Workflows ---
workflows/*                    # ignore tout
!workflows/n8n_alert_workflow.json  # sauf ce fichier JSON

# --- Videos and large files ---
testing_videos/
anomalies_sauvegardees/
*.mp4
*.avi
*.mov

# --- Other model weights ---
*.h5
*.pt

# --- Logs and misc ---
*.log
*.DS_Store